<h1>Trips</h1>
<div>
<div class="create-trip-div">
<div>
<p>If you are looking for partners in crime, you are in the right place
  <br />
  feel free to browse around and book any trips that might interest you
  </p>
  </div>
  {{#if isLoggedIn}}
  <div>
    <a class="create-trip-tag" href="/trip/add">Create a trip +</a>
  </div>
   {{/if}}
  </div>
</p>
<br />
<div>
  <ul>
    {{#each trips}}
      <div class="alltrips">
        <li class="alltripsli">
          <h2>{{location}}</h2>
          <br />
          <div class="color-deep-taupe">
            <div class="alltrips-subcontent"><h4>{{activity_type}}</h4></div>
            <div class="alltrips-subcontent"><h5>{{level}}</h5></div>
            <div class="alltrips-subcontent"><h6>Spaces: {{spaces}}</h6></div>
          </div>
          <a class="view-details-button button" href="/trip/{{_id}}">
            View details
          </a>
        </li>
      </div>
    {{/each}}
  </ul>
</div>
</div>