<br />
<h2>Trips</h2>
<br />
<p>If you are looking for trips to go you are in the right place
  <br />
  feel free to browse around and book any trip that might interest you
</p>
<br />
<div>
  <ul>
    {{#each trips}}
      <div class="alltrips">
        <li class="alltripsli">
          <h2>{{location}}</h2>
          <br />
          <div class="color-deep-taupe">
            <div class="alltrips-subcontent"><h4>{{activity_type}}</h4></div>
            <div class="alltrips-subcontent"><h5>{{level}}</h5></div>
            <div class="alltrips-subcontent"><h6>Spaces: {{spaces}}</h6></div>
          </div>
          <a class="view-details-button" href="/trip/{{_id}}">
            View details
          </a>
        </li>
      </div>
    {{/each}}
  </ul>
</div>