<div class="general-single-trip">
  <div class="single-trip-header">
    <div class="single-trip-tittle"><h2>Location - {{trip.location}}</h2></div>
    <div><h5 class="tag">{{trip.activity_type}}</h5></div>
  </div>
  <div class="single-trip-description ">
  <p class="color-deep-taupe ">{{trip.description}}</p>
  </div>
  <div class="single-trip-level-spaces">
    <div>
      <h4>Level of activity</h4>
      <p class="trip-details">{{trip.level}}</p>
    </div>
    <br />
    <div class="spaces">
      <h4>Spaces available</h4>
      <p class="trip-details">{{trip.spaces}}</p>
    </div>
  </div>
  {{! Acordarse de pasar el validador de log in }}
  {{#if isLoggedIn}}
    <a class="button" href="/trip/{{trip._id}}/request">Book Trip</a>
  {{/if}}
</div>