<h2>Profile</h2>
<p>Please find below more information about your profile</p>
<div>
  Email:
  {{user.email}}
</div>
<div>
  Username:
  {{user.username}}
</div>
<div>
  User Id:
  {{user._id}}
</div>
<div>
  <h4>Settings</h4>
  <ul>
    <li>
      <a href="/settings/update-user">Feel like updating your profile? Click In
        this line</a>
    </li>
    <li>
      <a href="/settings/delete-user">Feel like deleting your profile</a>
    </li>
  </ul>
</div>
<div>
  {{#if user.tripsRented}}
    <h4>Booked trips</h4>
  {{/if}}
</div>

{{! Display this in a table format if time allows it }}
<ul>
  {{#each user.tripsRented}}
    <li>
      {{location}}
      <a href="/trip/{{_id}}/cancel">cancel</a>
    </li>
  {{/each}}
</ul>