<h1>Hello {{user.username}}</h1>

<div>
  Your email is
  {{user.email}}. Nice to see you today
</div>

<div>
  In case you do not know, your id is
  {{user._id}}
</div>
</br>
<div>
  Here are some of the trips that you have rented out so far feel free to cancel or update any
</div>

<ul>
  {{#each user.tripsRented}}
    <li>
        {{location}}
      <a href="/trip{{trip._id}}/return">return</a>
    </li>
  {{/each}}
</ul>