<h1>Profile</h1>
<div class="profile-layout">
  <div>
    <h3>Details</h3>
    <div class="profile-details-class">
      <div>
        Email:
        {{user.email}}
      </div>
      <div>
        Username:
        {{user.username}}
      </div>
      <div>
        User Id:
        {{user._id}}
      </div>
    </div>
  </div>
  <div class="account-settings-margin">
    <h3>Account Settings</h3>
    <p>Update your account:</p>
    <ul>
      <div class="account-settings">
        <li>
          <a class="delete-button" href="/settings/update-user">Update</a>
        </li>
        <li>
          <a class="delete-button" href="/settings/delete-user">Delete</a>
        </li>
      </div>
    </ul>
  </div>
</div>
{{! Display this in a table format if time allows it }}
<div>
  {{#if user.tripsRented}}
    <h3>My trips</h3>
    <p>Feel free to cancel any of your trips</p>
    <br />
  {{/if}}
</div>
<ul>
  {{#each user.tripsRented}}
    <div class="alltrips">
      <li class="alltripsli">
        <h2>{{location}}</h2>
        <br />
        <div class="color-deep-taupe">
          <div class="alltrips-subcontent"><h4>{{activity_type}}</h4></div>
          <div class="alltrips-subcontent"><h5>{{level}}</h5></div>
          {{!-- <div class="alltrips-subcontent"><h6>Spaces: {{spaces}}</h6></div> --}}
        </div>
        <a class="view-details-button" href="/trip/{{_id}}/cancel">Cancel</a>
      </li>
    </div>
  {{/each}}
  <br />
</ul>